@import "https://fonts.googleapis.com/css?family=Barriecito:400,700"
body
	font 20pt "Barriecito",sans-serif
	overflow hidden
	color #182026
:focus
	outline 0
	-webkit-tap-highlight-color transparent
h1, h2, h3, h4, h5, h6
	font-weight 400
#appEl
	position absolute
	inset 0
	background #f5f8fa
.mark
	position absolute
	border solid 4px #2196f3cc
	pointer-events none
.color
	cursor pointer
